/* All responsive devices */
@media screen and (max-width: 979px){
	body{
		overflow-x: hidden;
	}
	.content-section,
	.intro{
		background-position: 50% 50% !important;
		background-attachment: local !important;
		padding: 40px 0;
	}

	.pt0{
		padding-top: 0 !important;
	}

	.wow{
		visibility: visible !important;
		-webkit-animation: none !important;
		 -moz-animation: none !important;
		   -o-animation: none !important;
		  -ms-animation: none !important;
		      animation: none !important;
	}

	#services i{
		height: auto;
		float: left !important;
		margin-left: 0;
		margin-right: 15px;
		width: 40px;
	}

	#services p{
		float: left;
	}
	#services h4{
		float: left;
	}

	.service-block{
		text-align: left !important;
	}
	.service-image{
		margin-bottom: 20px;
	}
	.team-member{
		margin-bottom: 30px;
	}
	.team-member h5{
		margin-top: 20px;
		margin-bottom: 10px;
	}
	.team-member span{
		margin-bottom: 10px;
	}
	.project-carousel{
		margin-bottom: 50px;
	}
	.download-buttons{
		text-align: center;
	}
	.grid figure{
		width: 50%;
	}
	.process-wrap{
		background-image: none;
	}
	.process-block i,
	.process-block p{
		top:0;
	}
	.process-block{
		margin-bottom: 20px;
	}

	.post-grid{
		display: inline-block;
	}
}

/* Tablet Portrait only */
@media screen and (min-width: 768px) and (max-width: 979px){
	.blog-content{
    	width: 645px;
	}
}

@media screen and (min-width: 768px) and (max-width: 1200px){
	.container>.navbar-header, .container>.navbar-collapse{
		width: 100%;
	}
}

/* Tablet Portrait and all mobile devices */
@media screen and (max-width: 767px){

	.blog-content{
		width: 83%;
	}
	footer div{
		text-align: center !important;
	}

	.jumbotron div{
		width: 100%;
		display: block;
	}

}

/* Mobile device only */
@media screen and (max-width: 480px){
	.brand-heading{
		font-size: 50px;
		margin-bottom: 20px;
	}
	.intro-text{
		font-size: 1.6em;
	}
	.counter-block{
		width: 100%;
	}




	.blog-date,
	.blog-pen{
		display: none;
	}
	.blog-content iframe{
	 	height: auto;
	 }

	.blog-content{
		width: 100%;
	}
	.grid figure{
		width: 100%;
	}
	.download-buttons a{
		margin-right: 0;
		margin-bottom: 20px;
		display: block;
	}
	.project-carousel{
		width: 280px;
		margin-bottom: 30px;
	}
	.project-carousel:before {
		left: 15px;
		top: -72px;
		width: 250px;
		height: 506px;
	}
	.service-image{
		margin-bottom: 20px;
	}
	.contacts-info{
		width: auto;
	}
	.contact-wrapper .form-group{
		width: 100%;
		margin-right: 0;
		margin-left: 0;
	}

	.team-member{
		width: 100% !important;
	}
	.comments-child{
		padding-left: 20px;
	}
	footer img{
		display: block;
		margin: 0 auto 10px;
	}
	footer div{
		width: 100%;
	}
    #home button {
    width: 90%;
}
    .cd-headline {
        font-size: 3em;
    }
}

@media screen and (min-width:1200px){
	.blog-content{
		width: 770px;
	}
}

@media screen and (max-width:1200px){
	.navbar .container{
		width: auto;
		padding-right: 15px;
		padding-left: 15px;
		margin-right: auto;
		margin-left: auto;
	}
	.navbar-collapse{
		-webkit-transition: background-color 0.2s ease-in-out;
		-o-transition: background-color 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out;
	}
	.navbar-collapse.collapse {
		display: none !important;
		max-height: 340px;
		padding-right: 15px;
		padding-left: 15px;
		overflow:hidden !important;
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
		-webkit-overflow-scrolling: touch;
	}
	.navbar-collapse.collapse.in{
		display: block !important;
		-ms-overflow-y: auto !important;
		    overflow-y: auto !important;
		    background-color: rgba(255,255,255,0.6);
	}
	.navbar-right.navbar-collapse{
		float: none;
	}
	.navbar-toggle{
		display: block;
		float: right;
		background-color: #e25064;
	    border-color:#e25064;
	    color: #fff;
	}
	.navbar-nav>li,
	.navbar-nav{
		float: none;
	}
	.service-block{
		margin-bottom: 20px;
	}
	.service-block .service-icon{
		display: none;
	}
	.map-section{
		padding: 0 !important;
	}
	.project-carousel{
		margin-bottom: 40px;
	}
	.close-portfolio{
		right: 0;
	}
	.process-wrap{
		background-image: none;
	}
}
